<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Web-Scraping-Lab" data-toc-modified-id="Web-Scraping-Lab-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Web Scraping Lab</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Useful-Resources" data-toc-modified-id="Useful-Resources-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Useful Resources</a></span><ul class="toc-item"><li><span><a href="#First-of-all,-gathering-our-tools." data-toc-modified-id="First-of-all,-gathering-our-tools.-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>First of all, gathering our tools.</a></span></li><li><span><a href="#Challenge-1---Download,-parse-(using-BeautifulSoup),-and-print-the-content-from-the-Trending-Developers-page-from-GitHub:" data-toc-modified-id="Challenge-1---Download,-parse-(using-BeautifulSoup),-and-print-the-content-from-the-Trending-Developers-page-from-GitHub:-1.0.1.2"><span class="toc-item-num">1.0.1.2&nbsp;&nbsp;</span>Challenge 1 - Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:</a></span></li><li><span><a href="#Display-the-names-of-the-trending-developers-retrieved-in-the-previous-step." data-toc-modified-id="Display-the-names-of-the-trending-developers-retrieved-in-the-previous-step.-1.0.1.3"><span class="toc-item-num">1.0.1.3&nbsp;&nbsp;</span>Display the names of the trending developers retrieved in the previous step.</a></span></li><li><span><a href="#Challenge-2---Display-the-trending-Python-repositories-in-GitHub" data-toc-modified-id="Challenge-2---Display-the-trending-Python-repositories-in-GitHub-1.0.1.4"><span class="toc-item-num">1.0.1.4&nbsp;&nbsp;</span>Challenge 2 - Display the trending Python repositories in GitHub</a></span></li><li><span><a href="#Challenge-3---Display-all-the-image-links-from-Walt-Disney-wikipedia-page" data-toc-modified-id="Challenge-3---Display-all-the-image-links-from-Walt-Disney-wikipedia-page-1.0.1.5"><span class="toc-item-num">1.0.1.5&nbsp;&nbsp;</span>Challenge 3 - Display all the image links from Walt Disney wikipedia page</a></span></li><li><span><a href="#Challenge-4---Retrieve-all-links-to-pages-on-Wikipedia-that-refer-to-some-kind-of-Python." data-toc-modified-id="Challenge-4---Retrieve-all-links-to-pages-on-Wikipedia-that-refer-to-some-kind-of-Python.-1.0.1.6"><span class="toc-item-num">1.0.1.6&nbsp;&nbsp;</span>Challenge 4 - Retrieve all links to pages on Wikipedia that refer to some kind of Python.</a></span></li><li><span><a href="#Challenge-5---Number-of-Titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point" data-toc-modified-id="Challenge-5---Number-of-Titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point-1.0.1.7"><span class="toc-item-num">1.0.1.7&nbsp;&nbsp;</span>Challenge 5 - Number of Titles that have changed in the United States Code since its last release point</a></span></li><li><span><a href="#Challenge-6---A-Python-list-with-the-top-ten-FBI's-Most-Wanted-names" data-toc-modified-id="Challenge-6---A-Python-list-with-the-top-ten-FBI's-Most-Wanted-names-1.0.1.8"><span class="toc-item-num">1.0.1.8&nbsp;&nbsp;</span>Challenge 6 - A Python list with the top ten FBI's Most Wanted names</a></span></li><li><span><a href="#Challenge-7---List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org" data-toc-modified-id="Challenge-7---List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org-1.0.1.9"><span class="toc-item-num">1.0.1.9&nbsp;&nbsp;</span>Challenge 7 - List all language names and number of related articles in the order they appear in wikipedia.org</a></span></li><li><span><a href="#Challenge-8---A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk" data-toc-modified-id="Challenge-8---A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk-1.0.1.10"><span class="toc-item-num">1.0.1.10&nbsp;&nbsp;</span>Challenge 8 - A list with the different kind of datasets available in data.gov.uk</a></span></li><li><span><a href="#Challenge-9---Top-10-languages-by-number-of-native-speakers-stored-in-a-Pandas-Dataframe" data-toc-modified-id="Challenge-9---Top-10-languages-by-number-of-native-speakers-stored-in-a-Pandas-Dataframe-1.0.1.11"><span class="toc-item-num">1.0.1.11&nbsp;&nbsp;</span>Challenge 9 - Top 10 languages by number of native speakers stored in a Pandas Dataframe</a></span></li></ul></li><li><span><a href="#Stepping-up-the-game" data-toc-modified-id="Stepping-up-the-game-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Stepping up the game</a></span><ul class="toc-item"><li><span><a href="#Challenge-10---The-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe" data-toc-modified-id="Challenge-10---The-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>Challenge 10 - The 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe</a></span></li><li><span><a href="#Challenge-11---IMDB's-Top-250-data-(movie-name,-Initial-release,-director-name-and-stars)-as-a-pandas-dataframe" data-toc-modified-id="Challenge-11---IMDB's-Top-250-data-(movie-name,-Initial-release,-director-name-and-stars)-as-a-pandas-dataframe-1.0.2.2"><span class="toc-item-num">1.0.2.2&nbsp;&nbsp;</span>Challenge 11 - IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe</a></span></li><li><span><a href="#Challenge-12---Movie-name,-year-and-a-brief-summary-of-the-top-10-random-movies-(IMDB)-as-a-pandas-dataframe." data-toc-modified-id="Challenge-12---Movie-name,-year-and-a-brief-summary-of-the-top-10-random-movies-(IMDB)-as-a-pandas-dataframe.-1.0.2.3"><span class="toc-item-num">1.0.2.3&nbsp;&nbsp;</span>Challenge 12 - Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.</a></span></li><li><span><a href="#Challenge-13---Find-the-live-weather-report-(temperature,-wind-speed,-description-and-weather)-of-a-given-city." data-toc-modified-id="Challenge-13---Find-the-live-weather-report-(temperature,-wind-speed,-description-and-weather)-of-a-given-city.-1.0.2.4"><span class="toc-item-num">1.0.2.4&nbsp;&nbsp;</span>Challenge 13 - Find the live weather report (temperature, wind speed, description and weather) of a given city.</a></span></li><li><span><a href="#Challenge-14---Book-name,price-and-stock-availability-as-a-pandas-dataframe." data-toc-modified-id="Challenge-14---Book-name,price-and-stock-availability-as-a-pandas-dataframe.-1.0.2.5"><span class="toc-item-num">1.0.2.5&nbsp;&nbsp;</span>Challenge 14 - Book name,price and stock availability as a pandas dataframe.</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Laboratorio de Web Scraping

Encontrarás en este cuaderno algunos ejercicios de web scraping para practicar tus habilidades de scraping usando `requests` y `Beautiful Soup`.

**Consejos:**

- Verifica el [código de estado de la respuesta](https://http.cat/) para cada solicitud para asegurarte de haber obtenido el contenido previsto.
- Observa el código HTML en cada solicitud para entender el tipo de información que estás obteniendo y su formato.
- Busca patrones en el texto de respuesta para extraer los datos/información solicitados en cada pregunta.
- Visita cada URL y echa un vistazo a su fuente a través de Chrome DevTools. Necesitarás identificar las etiquetas HTML, nombres de clases especiales, etc., utilizados para el contenido HTML que se espera extraer.
- Revisa los selectores CSS.

### Recursos Útiles
- Documentación de la [biblioteca Requests](http://docs.python-requests.org/en/master/#the-user-guide)
- [Doc de Beautiful Soup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Lista de códigos de estado HTTP](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [Conceptos básicos de HTML](http://www.simplehtmlguide.com/cheatsheet.php)
- [Conceptos básicos de CSS](https://www.cssbasics.com/#page_start)

#### Primero que todo, reuniendo nuestras herramientas.

In [451]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

⚠️ **Nuevamente, recuerda limitar tu salida antes de la entrega para que tu código no se pierda en la salida.**

#### Desafío 1 - Descargar, analizar (usando BeautifulSoup) e imprimir el contenido de la página de Desarrolladores en Tendencia de GitHub:

In [452]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [453]:
github_html=requests.get(url).text
soup = BeautifulSoup(github_html, "html.parser")

#### Muestra los nombres de los desarrolladores en tendencia recuperados en el paso anterior.

Tu salida debe ser una lista de Python con los nombres de los desarrolladores. Cada nombre no debe contener ninguna etiqueta HTML.

**Instrucciones:**

1. Descubre la etiqueta HTML y los nombres de clase usados para los nombres de los desarrolladores. Puedes lograr esto usando Chrome DevTools.

1. Usa BeautifulSoup para extraer todos los elementos HTML que contienen los nombres de los desarrolladores.

1. Utiliza técnicas de manipulación de cadenas para reemplazar espacios en blanco y saltos de línea (es decir, `\n`) en el *texto* de cada elemento HTML. Usa una lista para almacenar los nombres limpios.

1. Imprime la lista de nombres.

Tu salida debería lucir como abajo (con nombres diferentes):

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [454]:
# Tu código aquí
import re

devs = soup.find_all('h1', attrs={'class':'h3 lh-condensed'})
name_list = []
for desarrollador in devs:
    nombre_con_salto = desarrollador.text.strip()
    nombre_sin_saltos = re.sub(r'\n.*', '', nombre_con_salto)
    name_list.append(nombre_sin_saltos)
name_list

['Sebastian Raschka',
 'lllyasviel',
 'Belleve',
 'Jess Frazelle',
 'Steven Atkinson',
 'Sanjay Viswanathan',
 'lauren',
 'Zihao Ye',
 'EYHN',
 'Mika Vilpas',
 'Eric Niebler',
 'Eric',
 'Zac Sweers',
 'dennis zhuang',
 'Norbert de Langen',
 'Alex Rudenko',
 'Abhijeet Prasad',
 'Anders Ha',
 'Guy Bedford',
 'Violet Hansen',
 'Alexander Veysov',
 'Leigh McCulloch',
 'lijianan',
 'Micha Reiser',
 'J. Nick Koston']

#### Desafío 2 - Mostrar los repositorios de Python en tendencia en GitHub

Los pasos para resolver este problema son similares al anterior, excepto que necesitas encontrar los nombres de los repositorios en lugar de los nombres de los desarrolladores.

In [455]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'
datos2 = requests.get(f"{url2}").text
soup2 = BeautifulSoup(datos2, 'html.parser')

In [456]:
# Tu código aquí
import re

repos = soup2.find_all('h2', attrs={'class':'h3 lh-condensed'})
repo_list = []
for repo in repos:
    nombre_repo = repo.text.strip()
    nombre_limpio = nombre_repo.replace('/\n\n      ',"@")
    repo_list.append(nombre_limpio)
repo_list

['opendatalab @MinerU',
 'paul-gauthier @aider',
 'freqtrade @freqtrade',
 'lipku @metahuman-stream',
 'dyang886 @Game-Cheats-Manager',
 'alexta69 @metube',
 'patched-codes @patchwork',
 'TDAmeritrade @stumpy',
 'healthchecks @healthchecks',
 'dbt-labs @dbt-core',
 'deepset-ai @haystack',
 'cpacker @MemGPT',
 'ansible @ansible',
 'VikParuchuri @marker',
 'comfyanonymous @ComfyUI',
 'Acly @krita-ai-diffusion']

#### Desafío 3 - Mostrar todos los enlaces de imágenes de la página de Wikipedia de Walt Disney

In [457]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'
disney = requests.get(f"{url3}").text
soup3 = BeautifulSoup(disney, 'html.parser')

In [458]:
# Tu código aquí

images = soup3.find_all('a', attrs={'class':'mw-file-description'})
links_images = []
for image in images:
    links = image.get("href")
    links_images.append(links)
links_images

['/wiki/File:Walt_Disney_1946.JPG',
 '/wiki/File:Walt_Disney_1942_signature.svg',
 '/wiki/File:Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:Disney_Oscar_1953_(cropped).jpg',
 '/wiki/File:Disneyland_Resort_logo.svg',
 '/wiki/File:Animation_disc.svg',
 '/wiki/File:Mickey_Mouse_colored_(head).svg',
 '/wiki/File:Blank_television_set.svg']

#### Desafío 4 - Recuperar todos los enlaces a páginas en Wikipedia que se refieren a algún tipo de Python.

In [459]:
url4 ='https://en.wikipedia.org/wiki/Python' 
python = requests.get(f"{url4}").text
soup4 = BeautifulSoup(python, 'html.parser')

In [460]:
# Tu código aquí

python_refs = soup4.find_all('a', href=True)
list_python = []
word = 'Python'
prefijo = 'https://en.wikipedia.org'
for python in python_refs:
    if word in python.text:
        links = python.get("href")
        list_python.append(f"{prefijo}{links}")
list_python

['https://en.wikipedia.orghttps://en.wiktionary.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/wiki/Python_(codename)',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.orghttps://en.wikipedia.org/w/index.php?title=Python&oldid=1233294168']

#### Desafío 5 - Número de Títulos que han cambiado en el Código de los Estados Unidos desde su último punto de lanzamiento

In [461]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

cambio = requests.get(f"{url}").text
soup5 = BeautifulSoup(cambio, 'html.parser')

In [462]:
# Tu código aquí

changes = soup5.find_all('div',attrs={'class':'usctitlechanged'})
change_list = []
for change in changes:
    links = change.text.strip()
    change_list.append(links)

print(f"Total de títulos cambiados en el Código de los EE.UU.: {len(change_list)}\n\nTítulos cambiados:")
counter = 1
for i in change_list:
    print(f"\n{counter}.- {i}")
    counter+=1

Total de títulos cambiados en el Código de los EE.UU.: 3

Títulos cambiados:

1.- Title 5 - Government Organization and Employees ٭

2.- Title 18 - Crimes and Criminal Procedure ٭

3.- Title 20 - Education

#### Desafío 6 - Una lista de Python con los diez nombres más buscados por el FBI

In [463]:
# This is the url you will scrape in this exercise
# url7 = 'https://www.fbi.gov/wanted/topten'
url7 = 'https://en.wikipedia.org/wiki/FBI_Ten_Most_Wanted_Fugitives'

In [464]:
wanted = requests.get(f"{url7}").text
soup = BeautifulSoup(wanted, 'html.parser')
wantedtag = soup.find_all('h3')

In [465]:
# Tu código aquí

table = soup.find("tbody")
rows = table.find_all("div", class_="center")
wanted_top = []

for i in range(0, len(rows), 3):
    name = rows[i].get_text()
    date = rows[i + 1].get_text()
    wanted_top.append([name, date])

df = pd.DataFrame(wanted_top, columns=["Nobre", "Fecha"])
df

                            Nobre              Fecha
0                   Alexis Flores       June 2, 2007
1  Bhadreshkumar Chetanbhai Patel     April 18, 2017
2              Alejandro Castillo   October 24, 2017
3                 Arnoldo Jimenez        May 8, 2019
4     Yulan Adonay Archaga Carias   November 3, 2021
5                   Ruja Ignatova      June 30, 2022
6         Omar Alexander Cardenas      July 20, 2022
7        Wilver Villegas-Palomino     April 14, 2023
8         Donald Eugene Fields II       May 25, 2023
9            Vitel'Homme Innocent  November 15, 2023

#### Desafío 7 - Listar todos los nombres de idiomas y el número de artículos relacionados en el orden en que aparecen en wikipedia.org

In [466]:
# This is the url you will scrape in this exercise
url8 = 'https://www.wikipedia.org/'

In [467]:
languages = requests.get(f"{url8}")
languages.encoding = 'uft-8'
soup8 = BeautifulSoup(languages.text)
langlist = soup8.find_all("div", {"class": f"central-featured-lang"})

In [468]:
# Tu código aquí

language_list = []

for language in langlist:
    names = language.find("strong").text.strip()
    articles = language.find("small").text.strip()
    language_list.append((names,articles))
for i,j in language_list:
    print(f'{i}: {j}')

English: 6,847,000+ articles
日本語: 1,421,000+ 記事
Deutsch: 2.924.000+ Artikel
Русский: 1 987 000+ статей
Español: 1.965.000+ artículos
Français: 2 621 000+ articles
中文: 1,429,000+ 条目 / 條目
Italiano: 1.871.000+ voci
فارسی: ۱٬۰۰۶٬۰۰۰+ مقاله
Português: 1.128.000+ artigos

#### Desafío 8 - Una lista con los diferentes tipos de conjuntos de datos disponibles en data.gov.uk

In [469]:
# This is the url you will scrape in this exercise
url82 = 'https://data.gov.uk/'
dats = requests.get(f"{url82}")
soup8 = BeautifulSoup(dats.content, 'html.parser')

In [470]:
# Tu código aquí

data = soup8.find_all('h3', attrs={'class':"govuk-heading-s dgu-topics__heading" })

data_type_list = []
for iterator in data:
  data_type_list.append(iterator.text.strip())
  
data_type_list

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Desafío 9 - Los 10 idiomas con más hablantes nativos almacenados en un DataFrame de Pandas

In [471]:
# This is the url you will scrape in this exercise
url9 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
tenlang = requests.get(url9)
soup9 = BeautifulSoup(tenlang.content,"html.parser")

In [472]:
# Tu código aquí
tabla = soup9.find("table", {"class": "wikitable sortable"})

link_lang = tabla.find_all("a", title=True)
country_names = []
for enlace in link_lang:
    country_names.append(enlace.text.strip())
    
country_names

['Mandarin Chinese',
 'Spanish',
 'English',
 'Arabic',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Western Punjabi',
 'Javanese']

### Subiendo el nivel
#### Desafío 10 - La información de los 20 últimos terremotos (fecha, hora, latitud, longitud y nombre de la región) por el EMSC como un dataframe de pandas

In [473]:
# This is the url you will scrape in this exercise
#url7 = 'https://www.emsc-csem.org/Earthquake/'
# url7 = "https://www.emsc-csem.org/#2"
url7 = 'http://ds.iris.edu/seismon/eventlist/index.phtml'

In [474]:
# Tu código aquí
response = requests.get(url7)
soup = BeautifulSoup(response.content,"html.parser")

In [475]:
# Encontrar la tabla de datos
earthquake_list = soup.find("table", class_="tablesorter")

# Encontrar todas las filas de la tabla
rows = earthquake_list.find_all("tr")

# Lista para almacenar la información de los terremotos
earthquake_data = []

# Iterar sobre las primeras 20 filas, excluyendo la primera (que suele ser el encabezado)
for row in rows[1:21]:
    columnas = row.find_all("td")
    fecha = columnas[0].text.strip()
    latitud = columnas[1].text.strip()
    longitud = columnas[2].text.strip()
    magnitud = columnas[3].text.strip()
    profundidad = columnas[4].text.strip()
    ubicacion = columnas[5].text.strip()
    
    earthquake_data.append([fecha, latitud, longitud, magnitud, profundidad, ubicacion])

df = pd.DataFrame(earthquake_data, columns=["Fecha", "Latitud", "Longitud", "Magnitud","Profundidad","Ubicacion"])
df

,Fecha,Latitud,Longitud,Magnitud,Profundidad,Ubicacion
0,30-JUL-2024 13:07:12,-23.54,-66.84,4.3,205,"JUJUY PROVINCE, ARGENTINA"
1,30-JUL-2024 12:25:06,-24.44,-177.12,4.9,10,SOUTH OF FIJI ISLANDS
2,30-JUL-2024 10:36:20,6.27,126.09,4.6,63,"MINDANAO, PHILIPPINES"
3,30-JUL-2024 08:30:18,-56.16,-27.93,4.9,136,SOUTH SANDWICH ISLANDS REGION
4,30-JUL-2024 08:24:05,38.33,93.59,4.7,11,"QINGHAI, CHINA"
5,30-JUL-2024 07:37:53,-20.06,-177.59,4.5,492,FIJI ISLANDS REGION
6,30-JUL-2024 05:04:16,-21.30,-68.97,4.2,119,CHILE-BOLIVIA BORDER REGION
7,30-JUL-2024 01:27:35,29.51,98.75,4.6,14,XIZANG
8,30-JUL-2024 01:09:37,-22.37,-179.54,4.5,572,SOUTH OF FIJI ISLANDS
9,30-JUL-2024 01:04:53,39.23,144.22,4.3,10,"OFF EAST COAST OF HONSHU, JAPAN"
10,30-JUL-2024 01:01:20,36.37,71.16,4.2,102,AFGHANISTAN-TAJIKISTAN BORD REG.
11,29-JUL-2024 22:35:11,43.70,147.81,4.8,56,KURIL ISLANDS
12,29-JUL-2024 20:49:00,-22.38,170.86,5.3,21,SOUTHEAST OF LOYALTY ISLANDS
13,29-JUL-2024 20:27:49,26.28,59.70,4.7,20,SOUTHERN IRAN
14,29-JUL-2024 20:00:52,34.95,-116.79,4.87,7,SOUTHERN CALIFORNIA
15,29-JUL-2024 17:25:51,-18.89,167.42,4.9,10,VANUATU ISLANDS
16,29-JUL-2024 16:25:29,32.09,131.40,5.2,49,"KYUSHU, JAPAN"
17,29-JUL-2024 14:12:03,21.70,121.03,4.7,10,TAIWAN REGION
18,29-JUL-2024 13:24:23,7.99,-83.09,4.6,10,OFF COAST OF COSTA RICA
19,29-JUL-2024 13:07:12,-20.37,-173.96,6.0,10,TONGA ISLANDS

#### Desafío 11 - Datos del Top 250 de IMDB (nombre de la película, lanzamiento inicial, nombre del director y estrellas) como un dataframe de pandas

In [476]:
# This is the url you will scrape in this exercise 
# url11 = 'https://www.imdb.com/chart/top'
url11 = 'https://www.filmaffinity.com/es/userlist.php?user_id=882839&list_id=1006'

pelis = requests.get(url11)
soup = BeautifulSoup(pelis.content,"html.parser")

In [477]:
# Tu código aquí

# Tu código aquí
movies = soup.find_all("div", class_="mc-info-container")
list_movies = []

for row in movies[1:21]:
    col=row.find_all("div")
    title =col[0].text.strip()
    year =col[1].text.strip()
    rating =col[2].text.split("\n")[1].strip()
    director=col[5].text.strip()
    list_movies.append([title,year,rating,director])

In [478]:
df_movies = pd.DataFrame(list_movies, columns=["Titulo", "Año", "Nota","Director"])
df_movies

,Titulo,Año,Nota,Director
0,El padrino,1972,"9,0",Francis Ford Coppola
1,El padrino. Parte II,1974,"8,9",Francis Ford Coppola
2,La guerra de las galaxias. Episodio V: El impe...,1980,"8,1",Irvin Kershner
3,La guerra de las galaxias. Episodio IV: Una nu...,1977,"7,9",George Lucas
4,La guerra de las galaxias. Episodio VI: El ret...,1983,"7,9",Richard Marquand
5,Indiana Jones y la última cruzada,1989,"7,8",Steven Spielberg
6,En busca del arca perdida,1981,"7,8",Steven Spielberg
7,Casablanca,1942,"8,4",Michael Curtiz
8,Seven,1995,"8,3",David Fincher
9,Forrest Gump,1994,"8,2",Robert Zemeckis
10,Salvar al soldado Ryan,1998,"7,8",Steven Spielberg
11,El viaje de Chihiro,2001,"8,1",Hayao Miyazaki
12,El castillo ambulante,2004,"7,8",Hayao Miyazaki
13,La princesa Mononoke,1997,"8,0",Hayao Miyazaki
14,Érase una vez en América,1984,"8,3",Sergio Leone
15,Gran Torino,2008,"8,2",Clint Eastwood
16,Toy Story,1995,"7,7",John Lasseter
17,Cadena perpetua,1994,"8,6",Frank Darabont
18,Pulp Fiction,1994,"8,6",Quentin Tarantino
19,Ratatouille,2007,"7,3",Brad Bird

#### Desafío 12 - Nombre de la película, año y un breve resumen de las 10 películas aleatorias top (IMDB) como un dataframe de pandas.

In [479]:
# No se resolverlo

#### Desafío 13 - Encontrar el reporte meteorológico en vivo (temperatura, velocidad del viento, descripción y clima) de una ciudad dada.

In [480]:
#https://openweathermap.org/current

In [481]:
def weather(api_key, city):
    base_url = "http://api.openweathermap.org/data/2.5/weather?"
    city_name = city
    complete_url = f"{base_url}appid={api_key}&q={city_name}"
    response = requests.get(complete_url)
    return response.json()

# Cambiar por la API personal
api_key = '9da0f0082cf35d67520a646b8f2ff3a7'
city_name = 'Barcelona'
weather_data = weather(api_key, city_name)

print(f"Weather in {city_name}:")
print(weather_data)

Weather in Barcelona:
{'coord': {'lon': 2.159, 'lat': 41.3888}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 308.24, 'feels_like': 308.4, 'temp_min': 305.79, 'temp_max': 311.25, 'pressure': 1013, 'humidity': 32, 'sea_level': 1013, 'grnd_level': 1006}, 'visibility': 10000, 'wind': {'speed': 5.66, 'deg': 210}, 'clouds': {'all': 0}, 'dt': 1722357320, 'sys': {'type': 2, 'id': 18549, 'country': 'ES', 'sunrise': 1722314675, 'sunset': 1722366648}, 'timezone': 7200, 'id': 3128760, 'name': 'Barcelona', 'cod': 200}

#### Desafío 14 - Nombre del libro, precio y disponibilidad de stock como un dataframe de pandas.

In [482]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url14 = 'http://books.toscrape.com/'
books = requests.get(url14)
soup = BeautifulSoup(books.content,"html.parser")

In [483]:
# Tu código aquí

libros = list(soup.select('h1.h3 a[tittle]'))

libros = soup.select('h3:nth-child(3) > a:nth-child(1)')
precios = soup.select('div:nth-child(4) > p:nth-child(1)')
stocks= soup.select('div:nth-child(4) > p:nth-child(2)')

books=[]

for libro, precio, stocks in zip(libros, precios, stocks):
    books.append([libro["title"], precio.text, stocks.text.strip()]) 
books;

df = pd.DataFrame(books, columns=["Libro", "Precio", "Stock"])
df

                                                Libro  Precio     Stock
0                                A Light in the Attic  £51.77  In stock
1                                  Tipping the Velvet  £53.74  In stock
2                                          Soumission  £50.10  In stock
3                                       Sharp Objects  £47.82  In stock
4               Sapiens: A Brief History of Humankind  £54.23  In stock
5                                     The Requiem Red  £22.65  In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34  In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93  In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60  In stock
9                                     The Black Maria  £52.15  In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99  In stock
11                              Shakespeare's Sonnets  £20.66  In stock
12                                        Set Me Free  £17.46  In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29  In stock
14                          Rip it Up and Start Again  £35.02  In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  In stock
16                                               Olio  £23.88  In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59  In stock
18                       Libertarianism for Beginners  £51.33  In stock
19                            It's Only the Himalayas  £45.17  In stock

**Limitates tu output? Gracias! 🙂**